#app-name {
    margin: 0;
    width: 578px;
    padding: 50px 0 0 40px;
    /* height: 58px; */

    /* font-family: 'Inter'; */
    font-weight: 800;
    font-size: 36px;
    line-height: 0px;
    color: #FFFFFF;
}

#form-container {
    background-color: #D9D9D9;
    margin: auto;
    margin-top: 90px;
    padding: 30px 50px;
    width: 720px;
    height: 500px;
    border-radius: 2px;
    align-items: center;
}

#form-container h2 {
    margin-top: 30px;
}

#submit-btn {
    border-radius: 44px;
    width: 190px;
    padding: 10px 0;
    font-size: 14px;
    border: none;
}

#submit-btn:hover {
    background-color: rgba(88, 110, 82, 0.80);
}

@media screen and (max-width: 740px){
    #form-container {
        width: 80%;
    }
}
