#page-container {
    /* background-color: red; */
    height: 100vh;
    padding: 20px;
}

#header {
    flex: 1;
    /* background-color: #fff; */
    padding-right: 30px;
}

#container {
    /* width: 20%; */
    flex: 8;
    /* background-color: yellow; */
}

#logout {
    border: none;
    width: 80px;
}

@media screen and (max-width: 700px){
    #logout {
        font-size: 0.8rem;
    }
}