#app-name {
    margin: 0;
    width: auto;
    padding: 50px 0 0 40px;
    /* height: 58px; */

    /* font-family: 'Inter'; */
    font-weight: 800;
    font-size: 36px;
    line-height: 0px;
    color: #FFFFFF;
}