#app-name {
    margin: 0;
    /* padding: 20px 20px; */
    font-weight: 800;
    font-size: 36px;
    color: #ffffff;
}

@media screen and (max-width: 700px) {
    #app-name {
        font-size: 28px;
    }
}
