/* Button CSS */
button {
    width: 100px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    box-shadow: 0 0 4px rgba(192, 190, 190, 0.8);
    cursor: pointer;
    font-weight: 600;
}

.primary-btn {
    background-color: #1DA1F2;
    color: white;
}

.primary-btn:hover {
    background-color: #1291e0;
}

.primary-btn:active {
    background-color: #58befd;
}

.secondary-btn {
    background-color: transparent;
    box-shadow: none;
    outline: solid 1.5px #1da0f26d;
    color: #1DA1F2;
}

.secondary-btn:hover {
    background-color: rgb(202, 234, 255);
    outline: solid 1.5px #1da0f2c8;
}

.secondary-btn:active {
    background-color: aliceblue;
}
